/* globals.css or a CSS module */

.events {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.events .ant-badge-status-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
